[submodule "mimic-core"]
	path = mimic-core
	url = https://github.com/zeehio/mimic-core.git
[submodule "mimic-english"]
	path = mimic-english
	url = https://github.com/zeehio/mimic-english.git
[submodule "mimic-cmu_us_slt"]
	path = mimic-cmu_us_slt
	url = https://github.com/zeehio/mimic-cmu_us_slt.git
[submodule "mimic-vid_gb_ap"]
	path = mimic-vid_gb_ap
	url = https://github.com/zeehio/mimic-vid_gb_ap.git
[submodule "mimic-indic"]
	path = mimic-indic
	url = https://github.com/zeehio/mimic-indic.git
